body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px
}

#pageTitle {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

.scoreboard {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}



.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;

}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color:#787C7E ;
    color: white;
    border-color: white;

}

.scoreboard-tile {
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    color: black;
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;


}